.sortContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.sortElement {
  height: 32px;
  flex: 1;
  margin: 3px;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 4px;
  background-color: rgb(255, 224, 224);
}

@media (max-width: 980px) {
  .sortElement {
    flex-basis: calc(25% - 6px); /* 4 elements per row */
  }
}

@media (max-width: 660px) {
  .sortElement {
    flex-basis: calc(50% - 6px); /* 2 elements per row */
  }
}

.sortElement:hover {
  background-color: rgb(255, 91, 91);
}

.sortElement-highlight {
  color: white;
  background-color: rgb(91, 74, 74);
  border: 2px solid black;
}

.sortElement-highlight:hover {
  background-color: rgb(154, 80, 80);
}

.vehiclesContainer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.truckComponent {
  margin: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 7px;
  min-width: 300px;
  height: 90px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 1px 1px 4px -2px black;

  flex: 1;
  display: flex;

  transition: height 0.5s;
}

.truckComponent-details {
  height: 200px;
}

.truckImage {
  height: 80px;
  align-self: center;
}

.primaryInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  text-align: right;
}

.expandMore {
  rotate: 0;
  transition: rotate 0.5s;
}

.expandMore-details {
  rotate: 180deg;
}

.showAvailabilityInfo {
  position: absolute;
  width: 270px;
  translate: -250px 3px;
  background-color: rgb(192, 192, 192);
  padding: 8px;
  border: 2px solid black;
  border-radius: 4px;
  z-index: 9990;
}
