.navbar-main {
  display: block;
  @media (min-width: 680px) {
    display: flex;
  }
}

.navbar-item {
  @media (min-width: 680px) {
    background-color: transparent;
    flex: 1 1 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.loginOrAccountBox {
  position: absolute;
  visibility: hidden;

  @media (min-width: 680px) {
    visibility: visible;
    position: inherit;
    margin-left: auto;
    justify-content: right;
    text-decoration: underline;
    cursor: pointer;
  }
}

.loginOrAccountBox:hover {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.loginIcon {
  margin-top: auto;
  margin-bottom: auto;
}

.loginOrAccount {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}
